---
apiVersion: v1
kind: Service
metadata:
  name: 'demoapp-service'
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  selector:
    app: demoapp
  type: NodePort
  ports: 
  - port: 8102
    nodePort: 30001
    