---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ansible_operator_meta.name }}-mongodb1
  namespace: {{ ansible_operator_meta.namespace }}
  labels:
    app: demodb
spec:
  replicas: {{ size }}
  selector:
    matchLabels:
      app: demodb
  template:
    metadata:
      labels:
        app: demodb
    spec:
      containers:
      - image: "docker.io/mongo"
        name: demodb
        ports:
        - containerPort: 2701
          protocol: TCP